immich:
  persistence:
    library:
      existingClaim: immich-data

valkey:
  enabled: true

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.0.0
        env:
          DB_HOST: "immich-postgres-rw"
          DB_DATABASE: "immich"
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-postgres-user
                key: username
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-postgres-user
                key: password
          REDIS_HOSTNAME: "immich-valkey"
          IMMICH_MACHINE_LEARNING_URL: "http://immich-machine-learning:3003"