apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin-tailscale
  namespace: media
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
        - jellyfin
  defaultBackend:
    service:
      name: jellyfin
      port:
        number: 8096